<div class="main">
  <h2 class="heading3">
    Earnings Calculator
 </h2>
<p class="mb30">Our Earnings Calculator predicts how much a digital platform may earn with our Doceree Publisher program.
  It is built on anonymized published data to calculate estimated annual earnings.</p>


  <div class="w60 left">
<div class="w50 left mb30"> <div class="item">
  <span>Where are your physician users from?</span>
  <br/>
  <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="activeCountry" 
  value="US" (change)="somethingChanged()" style="margin-top: 10px;">
    <mat-button-toggle color="primary" value="India">India
    </mat-button-toggle>
    <mat-button-toggle color="primary" value="US">US
    </mat-button-toggle>
  </mat-button-toggle-group>
</div></div>

<div class="w50 right mb30">    

  <span>
    What percentage of Physicians are specialists?
  </span>
  <div fxLayout="column" fxLayoutAlign=" start" >
    <p style="float: inline-start;">{{specialityFocussed}} %</p>
  </div>
  <mat-slider color="primary" style="width: 252px;right: 16px;"
  class="arrow-down"
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="maxSpeciality"
    [min]="minSpeciality"
    [tickInterval]="getSliderTickInterval()"
    (input)="specialityFocussed = $event.value" 
    [value]="specialityFocussed" (change)="somethingChanged()">
  </mat-slider> 
</div>

<div class="w100 mb30">
  <span>What's the type of your physician platform?</span>
  <br/>
  <mat-form-field style="width: 520px;">
    <mat-select [(ngModel)]="selectedPlatform" [(value)]="selectedPlatform" name="platform" (selectionChange)="somethingChanged()">
      <mat-option *ngFor="let platform of platforms" [value]="platform.value">
        {{platform.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="w100 mb30">
  <span>
    Total number of registered users on your platform?
  </span>
  <div fxLayout="column" fxLayoutAlign=" start" >
    <span *ngIf="!editingUsers">
      <span >{{registeredUsers}}</span>
      <button mat-button *ngIf="!editingUsers" matSuffix mat-icon-button aria-label="Clear" (click)="enableUserEditMode()">
        <mat-icon class="size-16" svgIcon="unicorn_edit_icon"></mat-icon>
      </button>
    </span>
    
    <input id="userInputElement" appAutofocus *ngIf="editingUsers" matInput type="text" [(ngModel)]="registeredUsers" [disabled]="!editingUsers" (change)="somethingChanged()" autofocus (focusout)="disableUserEditMode()">
  </div>
  <mat-slider color="primary" style="width: 535px;right: 16px;"
  class="example-margin"
  [disabled]="disabled"
  [invert]="invert"
  [max]="maxUsers"
  [min]="minUsers"
  [step]="stepUsers"
  [tickInterval]="getSliderTickInterval()"
  (input)="registeredUsers = $event.value"
  [value]="registeredUsers"
  [vertical]="vertical" (change)="somethingChanged()">
 
</mat-slider>          
</div>


<div class="w100 mb30">
  <span>
    Number of Ad slots to be registered?
  </span>
  <div fxLayout="column" fxLayoutAlign=" start" >
    <p style="float: inline-start;">{{totalSlots}}</p>
  </div>
  <mat-slider color="primary" style="width: 535px;right: 16px;"
  class="arrow-down"
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="maxSlots"
    [min]="min"
    [tickInterval]="getSliderTickInterval()"
    (input)="totalSlots = $event.value" 
    [value]="totalSlots" (change)="somethingChanged()">
  </mat-slider> 
</div>


<div >
  <p style="text-align: left; font-size:9px; line-height: 12px;">
    *Disclaimer: Doceree makes no guarantee in the individual performance or earning estimation. 
    Every publisher website is different, with variables such as design, audience geography, content, domain, reputation, 
    impressions, ad sizes, ad placement all contributing and effecting sell through rates and revenue.
  </p>
</div>

  </div>
<div class="w30 right" style="margin-top: 40px;"><div fxLayout="column" fxLayoutAlign="space-around center" >
  <div >
    <circle-progress
    [percent]="circularValue"
    [radius]="110"
    [outerStrokeWidth]="14"
    [showSubtitle] = "showSubtitle"
    [title]= "circularTitle"
    [innerStrokeWidth]="7"
    [animation]="true"
    outerStrokeLinecap = "square"
    clockwise= "false"
    lazy= "false"
    unitsColor= "#4778EF"
    outerStrokeColor= "#16C0F0"
    [animationDuration]="169"
    titleColor= "#16C0F0" 
  ></circle-progress>
  </div>
  <div>
    <p style="font-weight: bold; font-size: 16px; font-weight: 600; color: #1d2733; margin-bottom: 26px;">
      Estimated annual earnings*
    </p>
  </div>
  <div>
    <button mat-flat-button color="primary" class="button">Discover more</button>
  </div>
</div></div>

<div style="clear: both;"></div>
</div>

