<mat-card class="example-result-card" style="margin-top: 20px;margin-bottom: 20px;margin-left: 20px; margin-right: 20px;">


  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div style="border: 1px;">
        <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="20px">
          <div>
            <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">

              <div class="item">
                <span>Where are your physician users from?</span>
                <br/>
                <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="activeCountry" value="US" (change)="somethingChanged()">
                  <mat-button-toggle color="primary" value="India">India
                  </mat-button-toggle>
                  <mat-button-toggle color="primary" value="US">US
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="item">
                <span>Is your platform more speciality focussed?</span>
                <br/>
                <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="specialityFocussed" value="Yes" (change)="somethingChanged()">
                  <mat-button-toggle color="primary" value="Yes">Yes
                  </mat-button-toggle>
                  <mat-button-toggle color="primary" value="No">No
                  </mat-button-toggle>
                </mat-button-toggle-group>
            
              </div>    
            
            </div>
          </div>
          <div>
            <span>What's the type of your physician platform?</span>
            <br/>
            <mat-form-field style="width: 520px;">
              <mat-select [(ngModel)]="selectedPlatform" [(value)]="selectedPlatform" name="platform" (selectionChange)="somethingChanged()">
                <mat-option *ngFor="let platform of platforms" [value]="platform.value">
                  {{platform.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <span>
              Total number of registered users on your platform?
            </span>
            <br/>
            <mat-slider color="primary" style="width: 535px;right: 16px;"
            class="example-margin"
            [disabled]="disabled"
            [invert]="invert"
            [max]="maxUsers"
            [min]="minUsers"
            [step]="stepUsers"
            [thumbLabel]="thumbLabel"
            [tickInterval]="getSliderTickInterval()"
            (input)="registeredUsers = $event.value"
            [value]="registeredUsers"
            [vertical]="vertical" (change)="somethingChanged()">
        </mat-slider> 
          </div>
          <div>
            <span>
              Number of Ad slots to be registered ?
            </span>
            <br/>
            <mat-slider color="primary" style="width: 535px;right: 16px;"
              class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="maxSlots"
              [min]="min"
              [tickInterval]="getSliderTickInterval()"
              [thumbLabel]="thumbLabel"
              (input)="totalSlots = $event.value" 
              [value]="totalSlots" (change)="somethingChanged()">
            </mat-slider> 
          </div>
        </div>


      </div>
      <div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
          <div>
            <circle-progress
            [percent]="circularValue"
            [radius]="110"
            [outerStrokeWidth]="14"
            [showSubtitle] = "showSubtitle"
            [title]= "circularTitle"
            [innerStrokeWidth]="7"
            [animation]="true"
            outerStrokeLinecap = "square"
            clockwise= "false"
            lazy= "false"
            unitsColor= "#4778EF"
            outerStrokeColor= "#16C0F0"
            [animationDuration]="169"
            titleColor= "#16C0F0"
           ></circle-progress>
          </div>
          <div>
            <p style="font-weight: 500;font-size: larger;">
              Estimated annual earnings*
            </p>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>