
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-thumb-label {
    transform: rotate(0deg) !important;
    border-radius: 0% 0% 0% 0% !important;
    padding: 0px 15px;
    margin-top: 25px;
    margin-left: 10px;
    right: -32px !important;
    top: -40px !important;
  }

  .mat-slider-thumb {
      transform: scale(0) !important;
  }
  
  .mat-slider-thumb-label-text {
      opacity: 1 !important;
      transform: rotate(0deg) !important;
  }
    .mat-slider-thumb-container {
        transition: all 0.3s ease-in-out;
    }

